<h1 class='margin'><%=data.heading%></h1>
<div class="card center" style="width: 60rem;">
    <img src="<%=data.img%>" class="card-img-top">
    <div class="card-body">
      <p class="card-text"><%=data.description%></p>
    </div>
  </div>