    <div class="form-group">
        <h3 class="font heading">Pros:</h3>
        <% data.pros.forEach(item => { %>
            <div>
                <ul class="list-group">
                    <li class="list-group-item font"><%=item %></li>
                </ul>

            </div>
        <% }) %>
    </div>
    <div class="form-group">
        <h3 class="font heading">Cons:</h3>
        <% data.cons.forEach(item => { %>
            <div>
                <ul class="list-group">
                    <li class="list-group-item font"><%=item %></li>
                </ul>

            </div>
        <% }) %>
    </div>
<a href="/cars" class="btn btn-danger">Go Back</a>