<form action="/trucks" method="POST">
    
    <div class="mb-3 col-md-6 margin">
        <h1>New Truck</h1>
        <label class="form-label" for="make">Make:</label>
        <input class="form-control" type="text" name="make"/>
        <label class="form-label" for="model">Model:</label>
        <input class="form-control" type="text" name="model"/>
        <label class="form-label" for="year">Year:</label>
        <input class="form-control" type="text" name="year"/>
        <label class="form-label" for="img">Img Url:</label>
        <input class="form-control" type="text" name="img"/>
        <label class="form-label" for="description">Description:</label>
        <textarea class="form-control" name="description"></textarea>
        <label class="form-label" for="rating">Rating:</label>
        <input class="form-control" type="text" name="rating"/>
        <label class="form-label" for="pros">Pros:</label>
        <input class="form-control" type="text" name="pros"/>
        <label class="form-label" for="cons">Cons:</label>
        <input class="form-control" type="text" name="cons"/>
        <label class="form-label" for="img1">Img:</label>
        <input class="form-control" type="text" name="img1"/>
        <label class="form-label" for="img2">Img:</label>
        <input class="form-control" type="text" name="img1"/>
        <label class="form-label" for="img"3>Img:</label>
        <input class="form-control" type="text" name="img2"/>

        <input type="submit" class="btn btn-primary"/> 
        <a href="/trucks" class="btn btn-danger">Cancel</a>
    </div>
</form>