
.container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
    grid-gap: 16px;
}

.cards{
    border: 1px solid #dedfe0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
    box-shadow: 1px 2px #b9b5b5;
}

.font {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    padding-left: 10px;
    text-align: center;
}

.text-block{
    position:relative;
    bottom: 50px;
    left: 15px;

}

.cardButtonParent {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.heading{
    font-size: 40px;
}

.main-text {
    margin-bottom: 15px;
}

