


.box_container{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
    grid-gap: 16px;
    margin: 15px;
}

.cards{
    border: 1px solid #dedfe0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
    box-shadow: 1px 2px #b9b5b5;
}

.font {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    padding-left: 10px;
   
}

.text-block{
    position:relative;
    bottom: 50px;
    left: 15px;

}

.cardButtonParent {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.heading{
    font-size: 40px;
}

.main-text {
    margin-bottom: 15px;
}


.carousel-item {
    height: 35rem;
    background-color: rgb(10, 10, 10);
    color:white;
    position: relative;
    background-size: cover;
    background-position: center;
}

.container {
    position: absolute;
    bottom: 0;
    left: 0px;
    right: 0px;
    padding-bottom: 20px;
}

.main-carousel-item {
    height: 45rem
}

.main-page-container {
    left: 200px;
    padding-bottom: 200px;
}

.overlay-image{
    position: absolute;
    bottom: 0;
    left: 0px;
    right: 0px;
    top: 0;
    opacity: .5;
    background-size: cover;
    background-position: center;
    
}

.menu-bar{
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-bar .dropdown {
    float: left;
    width: 200px;
    height: 40px;
    background-color: darkgray;
    opacity: .8;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}


.menu-bar .dropdown .menu-link {
    text-decoration: none;
    color: white;
    display: block;
}

.menu-bar .dropdown .menu-link:hover{
    background-color: lightcoral;
}

.menu-bar .dropdown .menu-bar .dropdown{
    display: none;
}

.menu-bar .dropdown:hover .menu-bar .dropdown{
    display:block
}

.cards-background:hover {
    background-color: black;
    opacity: .8;
}

.page-heading {
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: left;
    font-size: 30px;
}

.margin{
    margin: 25px 100px 0px 100px
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
